<%= simple_form_for @life do |f| %>
  <div class="form-group text-left">
    <%= f.input :title, label: "How would you name your life?", placeholder: "Kim the Berliner" %>

    <%= f.input :job, label: "What is your job?", placeholder: "Developper" %>

    <%= f.input :lifestyle, label: "What's your style of life?", placeholder: "Adventurous", collection: ["Adventurous", "Boring", "Glam", "Fun", "Decadent", "Rockstar", "Shameless", "Creative", "Ruler"] %>

    <%= f.input :city, label: "Where do you live?", placeholder: "Berlin" %>

    <%= f.input :description, label: "Describe your life shortly!", placeholder: "Hi this is Kim, I am blond, tall and I am on my way to become a developer. I have a couple of very good friends a very nice wardrobe and you should try my life.", input_html: {rows: "5"} %>

    <%= f.input :photo, as: :file, label: "Show a bit more of your life!", class: "form-control-file" %>
    <%#= f.button :submit , "Create Life", id: "create-btn", class:"white-text"%>
    <%= f.button :submit , "Create Life",  class:"white-text create-btn"%>
  </div>
<% end %>
