<nav class="navbar navbar-expand-lg <%= background ? "transparent" : "normal"%>">
<!-- in the next comment you will find BG-LIGHT class which represent the style of the navbar as default -->
<!-- in the APPLICATION.HTML.ERB you will instead find the code that render the style od the navbar in the homepage -->
<!-- in the navbar class on row 1 of this file I got rid of navbar-light and bg-light -->
<!-- the backgroundcolor was wired not the backgroundcolor of the navbar is always white except for the homepage -->
<!-- why is the NAVBAR background color white? becasue in the _navbar.scss there is an &normal section which act thanks to the params action associated in the application.html.erb file -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light <%#= background ? "transparent" : "normal"%>">   -->
  <i class="ml-2"><%= link_to (image_tag('Logo Maker 2020_08_19_09_45_39.png')), root_path, class: "logo" %></i>
  <%#= link_to (image_tag('Logo Maker 2020_08_19_09_45_39.png')), root_path, class: "logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-list">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "LIFEABLE", root_path%> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "LIVES", lives_path%> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to "LIFEGUARDS", lifeguards_path%></a>
      </li>
    </ul>
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu minus-left border border-light" aria-labelledby="navbarDropdownMenuLink">
            <p class="dropdown-item"><%= link_to "My Dashboard", bookings_path%></p>
            <p class="dropdown-item"><%= link_to "+ Add Your Life", new_life_path%></p>
            <p class="dropdown-item">
              <%= link_to "Log out", "/users/sign_out", method: :delete %>
            </p>
    <% else %>
      <%= link_to "Login", "/users/sign_in", class: "btn btn-danger btn-md rounded-lg chakra-font-button white-text details-btn"%>
    <% end %>
          </div>
        </li>
  </div>
</nav>
