<br>
<div class="container-dashboard ">
  <div>
    <h1> Hello <%= current_user.first_name.titleize %>, </h1>
  </div>
  <div>
      <% if @bookings.blank? %>
        <p>You did not book any life yet. Check out lifes here!</p>
      <% else %>
        <h2 class="text-center">You will change your life to:</h2>
          <% @bookings.each do |booki| %>
        <div class="card mb-3 " style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-6">
              <% if booki.life.photo.attached? %>
                <%= cl_image_tag booki.life.photo.key, class: "card-img" %>
              <% else %>
                <%= image_tag("https://source.unsplash.com/random", alt:"image", class: "card-img") %>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"><%= booki.life.title.titleize %></h5>
                <p class="card-text"><%= booki.start_date %></p>
                <p class="card-text"><%= booki.end_date %></p>
                <p class="card-text"><small class="text-muted"><%= link_to "❌ Cancel booking",booking_path(booki) ,method: :delete %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <div>
    <% if @bookingsforlife.blank? %>
      <p>You're Life has not been booked yet!</p>
    <% else %>
      <h2 class="text-center">Your life has been rented! </h2>
        <% @bookingsforlife.each do |booking| %>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters rounded">
               <div class="col-md-6">
                 <% if booking.life.photo.attached? %>
                    <%= cl_image_tag booking.life.photo.key, :transformation=>{:crop=>"fill"}, class: "card-img" %>
                  <% else %>
                    <%= image_tag("https://source.unsplash.com/random", alt:"image", class: "card-img",  crop: :fill) %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"><%=booking.user.first_name%> <%= booking.user.last_name%></h5>
                    <p class="card-text"><%= booking.start_date%></p>
                    <p class="card-text"><%= booking.end_date%></p>
                    <p class="card-text"><small class="text-muted"><%= link_to "❌ Do not allow that booking ",booking_path(booking) ,method: :delete %></small></p>
                  </div>
                </div>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

