<div>
  <br>
  <h1> Hello <%= current_user.first_name.capitalize %>, </h1>
  <% @bookings.each do |booki| %>
    <p><%= booki.life.title %> <br> <%= booki.start_date %> until <%= booki.end_date %>  |  <%= link_to "Delete", root_path
   %></p>
  <% end %>
</div>
