<br>
<div class="container-dashboard">
  <h1> Hello <%= current_user.first_name.capitalize %>, </h1>
  <% if @bookings.blank? %>
    <p>You did not book any life yet. Check out lifes here!</p>
  <% else %>
    <h2>You will change your life to:</h2>
      <% @bookings.each do |booki| %>
        <div class="dashboard-card">
          <div class="card-writing">
            <strong><%= booki.life.title %></strong>
            <br>
            <%= booki.start_date %>
            <br>
            until
            <br>
            <%= booki.end_date %>
            <br>
            <br>
            <br>
            <%= link_to "❌ Cancel booking",booking_path(booki) ,method: :delete %>
          </div>
          <div class="card-image">
            <%= image_tag("https://source.unsplash.com/random", alt:"image",class: "card-img", style: "max-width: 100%", style: "max-height: 100%") %>
          </div>
        </div>
      <% end %>
  <% end %>
<br>
  <div>
    <% if @bookingsforlife.blank? %>
      <p>You're Life has not been booked yet!</p>
    <% else %>
      <h2>Your life has been rented! </h2>
        <% @bookingsforlife.each do |booking| %>
          <div class="dashboard-card">
            <div class="card-writing">
              <p>
                <strong><%= booking.user.first_name%> <%= booking.user.last_name%> </strong>
                <br>
                has booked your amazing life from
                <br>
               <%= booking.start_date%>
               <br>
               until
               <br>
                <%= booking.end_date%>
                <br>
                  <%= link_to "❌ Do not allow that booking ",booking_path(booking) ,method: :delete %>
              </p>
              <div class="card-image">
                <%= image_tag("https://source.unsplash.com/random", alt:"image",class: "card-img", style: "max-width: 100%", style: "max-height: 100%") %>
              </div>
          <% end %>
    <% end %>
  </div>
</div>

<br>



