<div class="container mt-2 mb-2">
  <div class="row justify-content-center">
    <div class=“col-6”>
      <h2 class=“text-center”>Hey <%= current_user.first_name.capitalize %>, when does your booking should take place?</h2>
        <%= simple_form_for([@life, @booking]) do |f|%>
          <%= f.label :start_date %>
          <br>
          <%= f.date_field :start_date %>
          <br>
          <%= f.label :end_date %>
          <br>
          <%= f.date_field :end_date%>
          <br>
          <%= f.button :submit , "Book now", id: "home-btn"%>
      <% end %>
    </div>
  </div>
</div>

