<div class="container">
  <div class="text-right" style="margin-top: 30px;">
    <button class=" btn btn-danger btn-md rounded-lg chakra-font-button white-text"><%= link_to " + add your life", new_life_path, class: "white-text" %></button>
  </div>
  <h1 class="text-center text-primary" style="padding-bottom: 10px; padding-top: 10px;">Find the life you always wanted!</h1>
  <p class="text-center">Pick a life and book now. You try whatever our lifelords have on offer now. Even superheros need a break from their life every now and then...</p>
  <!-- [...] -->
  <%= form_tag lives_path, method: :get do %> <!-- part 3 of the job -->
    <%= text_field_tag :query, #part 1 of the job
      params[:query], #part 2 of the job
      class: "form-control",
      placeholder: "Find your new life"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
<!-- the list of movies -->
  <%= render "components/index-cards" %>
</div>

