<div class="life-show">
  <div class="container"> 
    <% if @life.photo.attached? %>
      <%= cl_image_tag @life.photo.key, height: 300, crop: :cover, class: "card-img-top" %>
    <% else %>
      <%= image_tag("https://source.unsplash.com/random", alt:"image", width: 20, height: 300, crop: :fit, class: "card-img-top") %>
    <% end %>
  </div> 
  <h1><%= @life.title %></h1>
	 <h4><%= @life.description %></h4>
   <div class="life-details">
     <p>See below the details of my life:
        <ul>
          <li>Save lives</li>
          <li>Beat villains</li>
          <li>Chill on Sundays</li>
        </ul>
      </p>
    </div>
  <%= link_to "Book me", new_life_booking_path(@life), class: "book-life" %>
  <%= link_to "Back to list", lives_path, class: "back-to-list" %>
</div>
