<div class="life-show">
  <div class="img-show">
    <% if @life.photo.attached? %>
      <%= cl_image_tag @life.photo.key, :transformation=>{:width=>1200, :height=>500, :crop=>"fill"} %>
    <% else %>
      <%= image_tag("https://source.unsplash.com/random", alt:"image", crop: :fill, height: 500, class: "card-img-top") %>
    <% end %>
  </div>

  <h1><%= @life.title %></h1>
	<h4><%= @life.description %></h4>
  
  <div class="life-details">
    <p>Things you should know:
      <ul>
        <li><p><strong>Job:</strong> <%= @life.job %></p></li>
        <li><p><strong>Lifestyle:</strong> <%= @life.lifestyle %></p></li>
        <li><p><strong>City:</strong> <%= @life.city %></p></li>
      </ul>
    </p>
    </div>
  <%= link_to "Book me", new_life_booking_path(@life), class: "book-life" %>
  <%= link_to "Back to list", lives_path, class: "back-to-list" %>
</div>
