<!DOCTYPE html>
<html>
  <head>
    <title>LIFEABLE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600&family=Overpass:wght@100;200;300;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "components/navbar" %>
    <%= yield %>
    <%= render "components/footer" %>
  </body>
</html>
